<ion-header>
  <ion-toolbar>
    <ion-title>RAFI SHOP</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" type="button">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- this is slider  -->
  <ion-row>
    <ion-col size="12">
      <div style="height: 379px; width: 100%;">
        <img style="width: 100%" height="370px"
          src="https://img.freepik.com/free-vector/shopping-time-banner-with-realistic-map-cart-gift-bags-vector-illustration_548887-120.jpg">
      </div>
    </ion-col>
  </ion-row>

  <!-- products list -->
  <ion-row>
    <ion-col size="12">
      <div class="section-title">
        <h1>Products</h1>
        <p>This following products list for you</p>
      </div>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>


            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>


            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>
            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>

          </ion-card>
        </ion-col>



        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>


            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>


            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Smart bluethooth headphone</ion-card-subtitle>
              <ion-card-title>$ 10.00</ion-card-title>


            </ion-card-header>
            <img
              src="https://www.startech.com.bd/image/cache/catalog/headphone/havit/hv-h2262d/hv-h2262d-0020-228x228.jpg" />
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
              <br>
              <br>
              <ion-button color="primary" size="small">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
  <!-- feature  section -->
  <div class="section-title">
    <h1>Featured Products</h1>
    <p>This following products list for you ..Discover a wide range of Headphone including Razer, Gamdias, Logitech
      headphone at best price in Bangladesh.</p>
  </div>

  <!-- Feature products-->
  <ion-row>
    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 1400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="https://www.mobiledokan.com/wp-content/uploads/2022/07/Symphony-Z42-Pro-300x254.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 1400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="    https://www.mobiledokan.com/wp-content/uploads/2022/03/Realme-Narzo-50.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Charger</ion-card-subtitle>
          <ion-card-title>$ 100.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src=" https://5.imimg.com/data5/SG/YQ/MY-3120561/2-amp-mobile-charger-1000x1000.jpeg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="    https://www.mobiledokan.com/wp-content/uploads/2022/03/Realme-Narzo-50.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="    https://www.mobiledokan.com/wp-content/uploads/2022/03/Realme-Narzo-50.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Ear Phone</ion-card-subtitle>
          <ion-card-title>$ 40.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets"
          src="    https://www.startech.com.bd/image/cache/catalog/earphone/joyroom/jr-ec01/jr-ec01-black-01-500x500.webp">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="    https://www.mobiledokan.com/wp-content/uploads/2022/03/Realme-Narzo-50.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">


      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Smart Phone</ion-card-subtitle>
          <ion-card-title>$ 400.00</ion-card-title>


        </ion-card-header>
        <img class="gadgets" src="    https://www.mobiledokan.com/wp-content/uploads/2022/03/Realme-Narzo-50.jpg">
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
          <br>
          <br>
          <ion-button color="primary" size="small">ADD TO CART</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>


  </ion-row>




  <!-- footer section -->
  <ion-footer>
    <p class="footer"> All right reserved by © Rafi (2020-2022)</p>
  </ion-footer>
</ion-content>
