.section-title h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #3d3838;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

.section-title {
  margin-top: 50px;
}

.section-title p {
  color: #818181;
  font-weight: 100;
  font-size: 16px;
  display: block;
  text-align: center;
}

.footer {
  font-size:large;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: indigo;
}

.gadgets {
  width: 291.1px;
  height: 246.6px;
}
